@page "/userProfile"
@using kvolikblazor.Model
@inject HttpClient Http
@inject IJSRuntime JS
@inject NavigationManager NavigationManager

<PageTitle>Профиль пользователя</PageTitle>

<div class="container mt-5">
    <h3>Привет, @currentUser?.Name!</h3>
    @if (currentUser != null)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Личная информация</h5>
                <p><strong>Email:</strong> @currentUser.Email</p>
                <p><strong>Описание:</strong> @currentUser.Description</p>
            </div>
        </div>
    }
    else if (isLoading)
    {
        <p>Загрузка информации о пользователе...</p>
    }
    else
    {
        <p>Пользователь не найден.</p>
    }
</div>

@code {
    private Users currentUser;
    private bool isLoading = true;
    private int current;

    protected override async Task OnInitializedAsync()
    {
        await GetUserById();
    }

    private async Task GetUserById()
    {
        try
        {
            var userIdString = await JS.InvokeAsync<string>("localStorage.getItem", "currentUserId");
            int current = Convert.ToInt32(userIdString);
            var response = await Http.GetAsync($"https://localhost:7294/api/User/{current}");
            if (response.IsSuccessStatusCode)
            {
                currentUser = await response.Content.ReadFromJsonAsync<Users>();
            }
            else
            {
                var errorMessage = await response.Content.ReadAsStringAsync();
                ShowAlert($"Ошибка получения пользователя: {errorMessage}");
            }
        }
        catch (Exception ex)
        {
            ShowAlert($"Ошибка загрузки пользователя: {ex.Message}");
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }

    private void ShowAlert(string message)
    {
        JS.InvokeVoidAsync("alert", message);
    }
}